* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  background: url(./images/bg-pattern-desktop.svg) no-repeat;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
}

.logo {
  margin-top: 5%;
  margin-left: 10%;
}

h1 {
  font-weight: 700;
  font-size: 3.5rem;
  text-transform: uppercase;
  letter-spacing: 1rem;
  color: hsl(0, 6%, 24%);
}

h1 span {
  font-weight: 300;
  color: hsl(0, 36%, 70%);
}

p {
  width: 35%;
  line-height: 1.5;
  color: hsl(0, 36%, 70%);
  margin: 1.5em 0;
}

.mobile-image {
  display: none;
}

.content {
  margin-top: 8%;
  margin-left: 10%;
  position: relative;
}

.intro-background {
  position: absolute;
  right: 0;
  top: 0;
}
.intro-background img {
  height: 100vh;
  width: 45vw;
}

.input {
  position: relative;
}

.intro-email {
  width: 26%;
  padding: 1em;
  border-radius: 50px;
  background: hsl(0, 100%, 98%);
  border: 1px solid rgba(65, 58, 58, 0.3);
  outline: none;
}

.intro-email:focus {
  border-color: hsl(0, 6%, 24%);
}

::placeholder {
  color: rgba(206, 151, 151, 0.623);
}

.arrow-btn {
  border: none;
  background: hsl(0, 74%, 74%);
  padding: 0.8em 2.75em;
  border-radius: 50px;
  cursor: pointer;
  outline: none;
  position: absolute;
  left: 20%;
  color: rgb(65, 58, 58);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}
.arrow-btn:hover,
.arrow-btn:focus {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
  background: hsl(0, 80%, 86%);
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: 2.75rem;
  }
  p {
    font-size: 0.75rem;
  }
  .intro-email {
    width: 40%;
  }
  .arrow-btn {
    padding: 0.8em 2em;
    left: 35%;
  }
}

@media screen and (max-width: 680px) {
  body {
    overflow: visible;
  }
  .logo {
    margin: 8% 0 8% 10%;
  }
  .logo img {
    width: 100px;
  }
  .intro-background {
    display: none;
  }
  .mobile-image {
    display: block;
  }
  .mobile-image img {
    width: 100%;
  }
  .content {
    text-align: center;
    margin: 2em auto;
  }
  p {
    width: 70%;
    text-align: center;
    margin: 1.5em auto;
  }
  .intro-email {
    width: 70%;
  }
  .arrow-btn {
    left: 70%;
  }
}
